<%- include("partials/header") %>
<br>
<div class="container">
    <p><strong>WhatsApp номери:</strong>0 701 36 06 41</p>
<p><strong>Дареги</strong><strong>:</strong>Ысык-Көл облусу, Тон району, Бөкөнбаев айылы, Атакан көчөсү № 53</p>
<p><strong>Электрондук дарек</strong>: <a href="mailto:tonrga@mail.ru">tonrga@mail.ru</a></p>
<p><strong>Кызматтык телефон номери</strong>: 03947 91-4-87</p>
<p>&nbsp;</p>
<p><strong>Урматтуу Тон районунун тургундары!</strong></p>
<p>Учурдагы&nbsp; дүйнө жүзүндө&nbsp; жүрүп жаткан &ldquo;COVID-19&rdquo; коронавирустук инфекциясына байланыштуу район тургундарынын топтолуусуна жол бербөө жана жарандардын ортосундагы аралыкты сактоо максатында Тон районунун мамлекеттик администрациясы &nbsp;аралыктан&nbsp; кызмат көрсөтүүгө өткөндүгүн билдирет.</p>
<p>Арыз-даттанууларсунуш пикирлер жана башка маселелер менен кайрылуулар болсо &nbsp;кагаз түрүндө жазып, сүрөткө тартып жогорудагы WhatsApp номерине ошондой эле &nbsp;электрондук дарекке&nbsp; &nbsp;жумушчу күндөрү саат 8.30-17.30 чейин жиберишиңиз керек.</p>
<p>Кайрылууда, арызда жана сунуш пикирлерде <strong>кайрылган кызмат адамынын аты-жөнү, кайрылуучунун толук аты-жөнү, дареги, телефон номери, датасы </strong>көргөзүлүшү керек.</p>
<p>Кайрылуу, арыз жана сунуш пикирлер мыйзамда көрсөтүлгөн 14 жумуш күндүн ичинде каралып,арыз ээсине жообу берилет. Арыздын жообу тууралуу&nbsp; Тон районунун мамлекеттик администрациясы&nbsp; Сиздин&nbsp; WhatsApp номеринизге, электрондук дарегинизге&nbsp; билдирүү жиберет.</p>

</div>

<%- include("partials/footer") %>
