<%- include("partials/header") %>

<br>
<div class="container">

        <p><strong>Урматтуу Тоң районунун тургундары !</strong></p>
      <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Учурдагы дүйнө жүзүндө жүрүп жаткан &ldquo;COVID-19&rdquo; коронавирустук инфекциясына байланыштуу кырдаалга карата&nbsp; айыл&nbsp; тургундарынын көп топтолуусуна жол бербөө жана жарандардын ортосундагы аралыкты сактоо максатында Күн-Чыгыш айыл өкмөтү 2020-жылдын 21-июлунан тартып <strong>аралыктан кызмат көрсөтүү (онлайн) </strong>режимине өткөндүгүн билдирет.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Башкача айтканда,Сиз маалымдама жана башка кызматтарды&nbsp; алуу үчүн <strong>WhatsApp номерине&nbsp; </strong>(смс жазуу же чалуу жолу менен) кайрылып, маалымдама бериле турган адамдын аты-жөнүн, эмне тууралуу маалымдама&nbsp; керектигин көрсөтүп, билдирүү калтырсаңыз болот. Сиздин кайрылууну карап чыгып, айыл өкмөтүнүн кызматкери Сизге маалымдама даяр болгондугу тууралуу маалымдама жиберет. Билдирүүнү алган соң айыл өкмөтүнө келип, атайын даярдалган кутучалардан маалымдамаңызды же башка иш кагаздарыңызды алып кете аласыз.</p>
      <p>Ошондой эле арыз-даттануулар, сунуш пикирлер жана башка маселелер менен кайрылуулар болсо кат түрүндө жазып, дал ошол кутучаларга калтырууга мүмкүнчүлүгүңүз бар,&nbsp; же сүрөткө тартып жогорудагы WhatsApp номерине ошондой эле электрондук дарекке жумушчу күндөрү саат 8.30-17.30 чейин жибере аласыз.</p>
      <p>&nbsp;Кайрылууда, арызда жана сунуш пикирлерде кайрылган кызмат адамынын аты-жөнү, кайрылуучунун толук аты-жөнү, дареги, телефон номери, датасы көргөзүлүшү керек. Кайрылуу, арыз жана сунуш пикирлер мыйзамда көрсөтүлгөн 14 жумуш күндүн ичинде каралып, арыз ээсине жообу берилет. Арыздын жообу тууралуу жергиликтүү айыл өкмөт Сиздин WhatsApp номериңизге, электрондук дарегинизге билдирүү жиберет. Жообун жогорудагыдай тартипте кутучадан алып кетесиз.</p>
      <p>COVID-19&rdquo; коронавирустук инфекциясы күч алып турган бүгүнкү күндө аралыктан кызмат көрсөтүү режими өзүңүздүн жана жалпы эле коомчулуктун ден соолугуна кам көрүүнүн негизги жолу экендигин эскертебиз жана биздин мындай аракетибизди түшүнүү менен кабыл алат деген ишенебиз.</p>
      <p><strong>&nbsp;</strong></p>
      <p><strong>&nbsp;</strong></p>
      <p><strong>Аралыктан көрсөтүлүүчү кызматтары:</strong></p>
      <ol>
      <li><strong> Үй-бүлөө курамы, үй-чарбасы, үлүш жери жана жашагандыгы тууралуу маалымдамалар Сиз төмөндөгү документтердин көчүрмөлөрүн 0705 316431 (вотсап) номерине&nbsp; жибергенден кийин берилет:&nbsp; </strong></li>
      </ol>
      <p>- кайрылуучунун паспорту, эгер 16 жашка чыга элек болсо,&nbsp; туулгандыгы тууралу күбѳлүгү;</p>
      <p>-тиешелүү салыктарды төлөгөндүгү&nbsp; боюнча квитанциялары;</p>
      <p>-жердин китеби;</p>
      <p>&nbsp;</p>
      <ol start="2">
      <li><strong> Жарандарды чарба китебине каттоо жана чыгаруу үчүн Сиз төмөндөгү документтердин көчүрмөлөрүн вотсап номерге жибергенден кийин ишке ашырылат: </strong></li>
      </ol>
      <p>-кайрылуучунун паспорту;</p>
      <p>-айыл өкмөт башчысынын наамына жазылган арыз;</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -каттоого туруучу үйдүн документтери техникалык паспорту, ордери, сатып алуу келишимдери, үйдүн ээсинин паспорту</p>
      <ol start="3">
      <li><strong> Менчик турак-үйлөрүнө жана менчиктин түрүнө карата жер тилкелерине (үлүш жер, жайыт жер, ж.б.) тиешелүү токтомдорду чыгарып берүү үчүн Сиз төмөндөгү документтердин көчүрмөлөрүн вотсап номерине жибергенден кийин ишке ашырылат: </strong></li>
      </ol>
      <p>-кайрылуучунун паспорту;</p>
      <p>-айыл өкмөт башчысынын наамына жазылган арыз;</p>
      <p>-мамлекеттик акттын көчүрмөсү,(эгер болсо- ордери, сатып алуу келишимдери ж.б)</p>
      <p>&nbsp;</p>
      <p><strong>Бардык кошумча маалыматтарды алуу үчүн көрсөтүлгөн WhatsApp номерге кайрылсаңыздар болот. </strong></p>
      <p><strong>&nbsp;</strong></p>
      <p><strong>Төмөндө сиздин айыл өкмөттү тандап анын кабыл алуучу (вотсап) номерин жана башка тиешелүү маалыматты билсениз болот. </strong></p>

      <br>
  <div class="accordion" id="accordionAokmot">
    <div class="card">
      <div class="card-header" id="h1acc">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#col1acc" aria-expanded="true" aria-controls="col1acc">
            Күн - Чыгыш айыл өкмөтү
          </button>
        </h2>
      </div>
  
      <div id="col1acc" class="collapse" aria-labelledby="h1acc" data-parent="#accordionAokmot">
        <div class="card-body">
          <p><strong>Телефон номер (WhatsApp):</strong> <strong>0705 316431</strong></p>
          <p><strong>Электрондук&nbsp; дарек:</strong><span style="font-weight: 400;"> <a href="mailto:kunchygyh_aiyl@okmot.kg">kunchygyh_aiyl@okmot.kg</a></span></p>
          <p><strong>Дареги:</strong><span style="font-weight: 400;"> Тоң району, Бѳкѳнбаев айылы, Базаров кѳч.№51&nbsp;</span></p>
          <p><strong>Байланыш телефондору:</strong><span style="font-weight: 400;">&nbsp; 03947 91390; 0701 981975</span></p>
          <p><strong>Иштөө убактысы:</strong><span style="font-weight: 400;">&nbsp; 08.30-17.30га чейин, түшкү тыныгуу 12.00-13.00го чейин</span></p>      
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="h2acc">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#col2acc" aria-expanded="true" aria-controls="col2acc">
            Кажы - Сай айыл өкмөтү
          </button>
        </h2>
      </div>
  
      <div id="col2acc" class="collapse" aria-labelledby="h2acc" data-parent="#accordionAokmot">
        <div class="card-body">
            <p><strong>Телефон номер</strong> <strong>(WhatsApp):</strong><span style="font-weight: 400;"> 0507579447</span></p>
            <p><strong>Электрондук дарек</strong><span style="font-weight: 400;">:<a href="mailto:okmot-kadgisay@mail.ru">okmot-kadgisay@mail.ru</a></span></p>
            <p><strong>Дареги:</strong> <span style="font-weight: 400;">Тоң району, Кажы-Сай айылы, Жунушев көчөсү №1</span></p>
            <p><strong>Байланыш телефондор</strong><span style="font-weight: 400;">: 03947 92&nbsp;127</span></p>
            <p><strong>Иштөө убактысы:</strong><span style="font-weight: 400;"> 08</span><span style="font-weight: 400;">30</span><span style="font-weight: 400;">-17</span><span style="font-weight: 400;">30</span><span style="font-weight: 400;">га чейин. Түшкү тыныгуу 12</span><span style="font-weight: 400;">00</span><span style="font-weight: 400;">-13</span><span style="font-weight: 400;">00</span><span style="font-weight: 400;">гө чейин.</span></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="h3acc">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#col3acc" aria-expanded="true" aria-controls="col3acc">
            Тоң айыл өкмөтү
          </button>
        </h2>
      </div>
  
      <div id="col3acc" class="collapse" aria-labelledby="h3acc" data-parent="#accordionAokmot">
        <div class="card-body">
          <p><strong>Телефон номер</strong> <strong>(WhatsApp):</strong><span style="font-weight: 400;"> 0701232787</span></p>
          <p><strong>Электрондук дарек</strong><span style="font-weight: 400;">: <a href="mailto:tonao@mail.ru">tonao@mail.ru</a></span></p>
          <p><strong>Дареги:</strong> <span style="font-weight: 400;">Тоң району, Тоң&nbsp; айылы, Узакбаев көчөсү №27</span></p>
          <p><strong>Байланыш телефондор</strong><span style="font-weight: 400;">: 03947 60721, 0394760124, 0701232670</span></p>
          <p><strong>Иштөө убактысы:</strong><span style="font-weight: 400;"> 08</span><span style="font-weight: 400;">30</span><span style="font-weight: 400;">-17</span><span style="font-weight: 400;">30</span><span style="font-weight: 400;">га чейин. Түшкү тыныгуу 12</span><span style="font-weight: 400;">00</span><span style="font-weight: 400;">-13</span><span style="font-weight: 400;">00</span><span style="font-weight: 400;">гө чейин.</span></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="h4acc">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#col4acc" aria-expanded="true" aria-controls="col4acc">
            Төрт - Күл айыл өкмөтү
          </button>
        </h2>
      </div>
  
      <div id="col4acc" class="collapse" aria-labelledby="h4acc" data-parent="#accordionAokmot">
        <div class="card-body">
          <p><strong>Телефон номери (Whats App): &nbsp; </strong><span style="font-weight: 400;">0705-30-22-91 жана 0708-50-22-45</span></p>
          <p><strong>Электрондук дарек: </strong><span style="font-weight: 400;">E-maiI:&nbsp; </span><a href="mailto:tortkul.ao@mail.ru"><span style="font-weight: 400;">tortkul.ao@mail.ru</span></a></p>
          <p><strong>Дареги: </strong><span style="font-weight: 400;">Тоң району, Төрт-Күл айылы, Молдогазы көчөсү №15</span></p>
          <p><strong>Байланыш телефондор: </strong><span style="font-weight: 400;">03947 95223</span> <span style="font-weight: 400;">жана 0704-98-87-78</span><span style="font-weight: 400;">&nbsp;</span></p>
          <p><strong>Иштөө убактысы: </strong><span style="font-weight: 400;">08:30-17:30 га чейин. Түшкү тыныгуу 12:00-13:00гө чейин</span></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="h5acc">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#col5acc" aria-expanded="true" aria-controls="col5acc">
            Болот Мамбетов айыл өкмөтү
          </button>
        </h2>
      </div>
  
      <div id="col5acc" class="collapse" aria-labelledby="h5acc" data-parent="#accordionAokmot">
        <div class="card-body">
          <p><strong>Телефон номери (Whats App):&nbsp;</strong> 0704 26 71 77</p>
          <p><span style="font-weight: 400;"><strong>Электрондук дарек:</strong> </span><a href="mailto:bmambetovao@mail.ru"><span style="font-weight: 400;">bmambetovao@mail.ru</span></a></p>
          <p><span style="font-weight: 400;"><strong>Дареги:</strong> Эшперов айылы Байтур Акунов көч №49</span></p>
          <p><span style="font-weight: 400;"><strong>Байланыш телефондор:</strong> 03947 6-01-49, 6-00-49</span></p>
          <p><span style="font-weight: 400;"><strong>Иштөө убактысы:</strong> Дүйшөнбүдөн Жумага чейин саат 08-30 дан -17-30 га чейин, түштөнүү убактысы 12-00дон- 13-00го чейин.</span></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="h6acc">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#col6acc" aria-expanded="true" aria-controls="col6acc">
            Көл - Төр айыл өкмөтү
          </button>
        </h2>
      </div>
  
      <div id="col6acc" class="collapse" aria-labelledby="h6acc" data-parent="#accordionAokmot">
        <div class="card-body">
          <p><strong>Телефон номер</strong> <strong>(WhatsApp):</strong><span style="font-weight: 400;"> 0704854900</span></p>
          <p><strong>Электрондук дарек</strong><a href="mailto:ao_koltor@mail.ru"><span style="font-weight: 400;">ao_koltor@mail.ru</span></a></p>
          <p><strong>Дареги:</strong> <span style="font-weight: 400;">Тоң району, Көл-Төр айылы, И.Бектемиров көчөсү №18</span></p>
          <p><strong>Байланыш телефондор</strong><span style="font-weight: 400;">: 03947 60182, 0705125773</span></p>
          <p><strong>Иштөө убактысы:</strong><span style="font-weight: 400;"> 08</span><span style="font-weight: 400;">30</span><span style="font-weight: 400;">-17</span><span style="font-weight: 400;">30</span><span style="font-weight: 400;">га чейин. Түшкү тыныгуу 12</span><span style="font-weight: 400;">00</span><span style="font-weight: 400;">-13</span><span style="font-weight: 400;">00</span><span style="font-weight: 400;">гө чейин.</span></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="h7acc">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#col7acc" aria-expanded="true" aria-controls="col7acc">
            Ак - Терек айыл өкмөтү
          </button>
        </h2>
      </div>
  
      <div id="col7acc" class="collapse" aria-labelledby="h7acc" data-parent="#accordionAokmot">
        <div class="card-body">
          <p><strong>Телефон номер</strong> <strong>(WhatsApp): </strong>0770 615 490</p>
          <p><strong>Электрондук дарек:&nbsp;</strong><a href="mailto:akterek_ton@mail.ru"><span style="font-weight: 400;">akterek_ton@mail.ru  </span></a></p>
          <p><strong>Дареги: </strong>Тоӊ району, Кара-Коо айылы, Батыркан көчөсү № 29, К.Исаков атындагы маданият үйүнүн имаратынын 1- кабаты.</p>
          <p><strong>Байланыш телефондор: </strong>03947 60&nbsp;067, 0709 186 575, 0706 396 982</p>
          <p><strong>Иштөө убактысы:</strong><span style="font-weight: 400;"> 08 </span><span style="font-weight: 400;">00 </span><span style="font-weight: 400;">-17 </span><span style="font-weight: 400;">00 </span><span style="font-weight: 400;">га чейин. Түшкү тыныгуу 12</span><span style="font-weight: 400;">00</span><span style="font-weight: 400;">-13</span><span style="font-weight: 400;">00 </span><span style="font-weight: 400;">гө чейин.</span></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="h8acc">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#col8acc" aria-expanded="true" aria-controls="col8acc">
            Улахол айыл өкмөтү
          </button>
        </h2>
      </div>
  
      <div id="col8acc" class="collapse" aria-labelledby="h8acc" data-parent="#accordionAokmot">
        <div class="card-body">
          <p>&nbsp;</p>
          <p><strong>Телефон номер</strong> <strong>(WhatsApp):</strong> 0706655365&nbsp;</p>
          <p><strong>Электрондук дарек:</strong> <a href="mailto:Ulakholvap@rambler.ru">Ulakholvap@rambler.ru</a>&nbsp;</p>
          <p><strong>Дареги:&nbsp;</strong><span style="font-weight: 400;">Ысык-Көл облусу, Тон району, Кара-Талаа айылы, Ажыбаева көчөсү № 7</span></p>
          <p><span style="font-weight: 400;"><strong>Кызматтык телефон номери</strong><span style="font-weight: 400;">: 03947 6-00-19</span></span></p>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;"><strong>Иштөө убактысы:</strong> 08 00 -17 00 га чейин. Түшкү тыныгуу 1200-1300 гө чейин.</span></span></p>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header" id="h8acc">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#col8acc" aria-expanded="true" aria-controls="col8acc">
            Көк - Мойнок айыл өкмөтү
          </button>
        </h2>
      </div>
  
      <div id="col8acc" class="collapse" aria-labelledby="h8acc" data-parent="#accordionAokmot">
        <div class="card-body">
          <p><strong>Телефон номери (Whats App): &nbsp; </strong><span style="font-weight: 400;">0707549054&nbsp;</span></p>
          <p><strong>Электрондук дарек: </strong><span style="font-weight: 400;"><a href="mailto:kok-moinok@maiI.ru">kok-moinok@maiI.ru</a></span></p>
          <p><strong>Дареги: </strong><span style="font-weight: 400;">Тоң району, Ак-Өлөң айылы, Арыкбай көчөсү №4</span></p>
          <p><strong>Байланыш телефондор: </strong><span style="font-weight: 400;">0707549054, 0707 620408</span></p>
          <p><strong>Иштөө убактысы: </strong><span style="font-weight: 400;">08:30-17:30 га чейин. Түшкү тыныгуу 12:00-13:00гө чейин</span></p>
        </div>
      </div>
    </div>
  </div>


</div>

<%- include("partials/footer") %>