<%- include("partials/header") %>
<br>
<div class="container">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Урматтуу Тоң районунун тургундары!</strong></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Тоң районунун шааркурулушу жана архитектура боюнча башкармалыгы учурда өлкөбүздө COVID-19 инфекциясына байланышкан кырдаалга карата элдин көп топтолуусун алдын-алуу, жарандар арасында&nbsp; аралыктарды сактоо&nbsp; максатында&nbsp; 2020-жылдын&nbsp; 21-июлунан тартып,&nbsp;&nbsp; 0700 13 75 42 вотсап&nbsp;&nbsp; номери аркылуу аралыктан кызмат көрсөтүү (онлайн)&nbsp; режимине өткөндүгүн&nbsp; билдирет.&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Башкармалык төмөндөгү кызмат көрсөтүүлөрдү көрсөтөт жана керектелүүчү документтер:</p>
<p><strong>(АПШ) Архитектуралык-пландоо шарттары жана (ИТШ) инженердик &ndash; техникалык шарттары. </strong></p>
<p>а) электрондук арыз (өзүбүз толтурабыз)</p>
<p>- жеке жактар үчүн; арыз ээсинин паспортунун көчүрмөсү</p>
<p>- юридикалык жактар үчүн; мекеме, ишкананын күбөлүгү, кайрылуу кат</p>
<p>&nbsp;</p>
<p>б) менчик укугуна же жер участогун пайдаланууга (жер участогунун планы менен) укук белгилөөчү жана укук күбөлөндүрүүчү документтердин көчүрмөлөрү, ошондой эле жер участогунда жайгашкан (бар болсо) кыймылсыз мүлк объекттерине укук белгилөөчү документтер жана техникалык паспорт;</p>
<p>&nbsp;</p>
<p>в) эскиздик долбоор;</p>
<p>г) эгерде арызды жер участогунун же башка кыймылсыз мүлктүн менчик ээсинин өкүлү көрсөтүп жатса граждандык мамилелер жаатында КР мыйзамына ылайык жол-жоболоштурулган өкүлгө болгон ишеним кат;</p>
<p>д) долбоорлоо участогунун топографиялык съемкасы</p>
<p><strong>Турак &nbsp;жана турак эмес жайлардын (көлөмдүү-пландоо жана конструктивдүү чечимдерин өзгөртпөстөн) багытын өзгөртүү же кайра пландоо мүмкүнчүлүгү жөнүндө корутундуну иштеп чыгуу</strong></p>
<p>Тиркелген документтер:</p>
<ol>
<li>Батирге карата документтер:</li>
</ol>
<p>- Кыймылсыз мүлк бирдигинин техникалык паспорту;</p>
<p>- Сатып алуу- сатуу, тартуу берүү келишими ж.б.</p>
<ol start="2">
<li>Лицензиясы бар, адистештирилген уюм менен иштелип чыккан объекттин техникалык абалын текшерүү (зарыл учурда)</li>
<li>Укук ээсинин документтери:</li>
</ol>
<p>Жеке жактар үчүн:</p>
<p>-&nbsp; Ээсинин паспортунун көчүрмөсү .</p>
<p>-&nbsp; Ишенимдүү адамдын ишеним каты&nbsp; (нотариалдык күбөлөндүрүлгөн) жана паспортунун көчүрмөсү.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>Юридикалык жактар үчүн:</p>
<p>- Төмөнкү документтердин көчүрмөлөр: Юридикалык жакты каттоо жөнүндө күбөлүк, Устав, Уставдык келишим (бар болсо), жетекчини даярдоо жөнүндө документ (буйрук, протокол).</p>
<p>-&nbsp; Ыйгарым укуктуу адамдын документтери (расмий жол-жоболоштурулган ишеним кат).</p>
<p><strong>Жер участогунун планы (жер аянттардын чек араларын, курулуш чегин, кызыл чегин тактоо)</strong></p>
<p>Тиркелген документтер:</p>
<ol>
<li>Электрондук арыз, паспорттун көчүрмөсү</li>
<li>Акт</li>
<li>Токтом айыл өкмөт</li>
<li>Жер участогунун схемасы</li>
</ol>
<p>&nbsp;</p>
<p><strong>Архитектуралык &ndash; техникалык корутунду (убактылуу жайгашкан объектилер) </strong></p>
<p>Тиркелген документтер:</p>
<ol>
<li>Электрондук арыз, паспорттун көчүрмөсү</li>
<li>Сатуу, сатып алуу келишими (эгерде болсо)</li>
<li>Жер участогунун схемасы</li>
</ol>
<p>&nbsp;</p>
<p><strong>Долбоорлоо документтерин макулдашууга</strong></p>
<p>Тиркелген документтер:</p>
<p>а) долбоордун &ldquo;Генералдык планы&rdquo; жана &ldquo;Архитектуралык чечимдери&rdquo; бөлүктөрү 3 нускада;</p>
<p>б) инженердик-техникалык камсыз кылуунун тышкы тармактарынын долбоору бөлүгү;</p>
<p>в) архитектуралык-курулуш иши жаатында саясатты иштеп чыгуу жана ишке ашыруу боюнча ыйгарым укуктуу мамлекеттик органдын жер титирөөгө турукттуу курулуш боюнча профилдик институту менен же объектти инженердик изилдөөнү аткаруу (зарыл учурда) үчүн сертификацияланган адистерге ээ болгон юридикалык жактар же башкада сертификацияланган адистер менен аткарылган жоопкерчиликтин баардык деңгээлиндеги имараттар жана курулмалар үчүн кайра конструкциялоо, багытын өзгөртүү жана кайра пландоо мүмкүнчүлүгү жөнүндө оң техникалык корутунду.</p>
<p><strong>Курулуп бүткөн турак үйгө аныктама берүү</strong></p>
<p>&nbsp;</p>
<p>Тиркелген документтер:</p>
<ol>
<li>Электрондук арыз, паспорттун көчүрмөсү</li>
<li>Мамлекеттик акт</li>
<li>Техникалык паспорт</li>
<li>Токтом</li>
<li>Жер участогунун схемасы</li>
<li></li>
</ol>
<p>Биздин дарек: &nbsp;Бөкөнбаев айылы&nbsp; Ж.Турусбеков көчөсү 55/1. &nbsp;</p>
<p>Байланыш тел: (03947) 91 7 61</p>
<p>Электрондук дарек: <a href="mailto:arhitektura_ton@mail.ru">arhitektura_ton@mail.ru</a>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Урматтоо менен;</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
<p>Тон районунун шааркуруу жана архитектура боюнча башкармалыгы.</p>

</div>

<%- include("partials/footer") %>
