<%- include("partials/header") %>
<br>
<div class="container">
    <p><strong>Тоӊ райондук мамлекеттик архиви</strong></p>
<p>&nbsp;</p>
<p><strong>WhatsApp</strong><strong>:</strong> 0773012169</p>
<p>&nbsp;</p>
<p><strong>Адрес:</strong> Бөкөнбаев айылы, Уста Шакир көчөсү, №</p>
<p>&nbsp;</p>
<p><strong>Электрондук дарек:</strong> <a href="mailto:ton.arhiv@mail.ru">ton.arhiv@mail.ru</a></p>
<p>&nbsp;</p>
<p><strong>Маалымат алуу үчүн жумушчу телефон</strong>: 03947 60188 жана 0500826915</p>
<p>&nbsp;</p>
<p><strong>Иштөө убактысы</strong>: эртен мененки саат 8:30дан кечки саат 17:30га чейин</p>
<p>&nbsp;</p>
<p><strong>Көрсөтүлүүчү кызматтары: </strong></p>
<ol>
<li>Пенсияга пенсияга чыгууга жана оорусуна байланыштуу пенсияга чыгуу, атасы же энеси өлгөндөргө пенсия чектөө үчүн архивдик маалымкат алууга:</li>
</ol>
<p>-паспорту,</p>
<p>-эмгек китепчеси,</p>
<p>-өлгөндүгү жөнүндө күбөлүгү (суралган адам өлгөн болсо).</p>
<p>&nbsp;</p>
<ol start="2">
<li>Үстүңкү өрөөндө жашагандыгын чарба китебинен тастыктоо үчүн архивдик маалымкат алууга:</li>
</ol>
<p>-паспорт,</p>
<p>-түтүн ээсинин аты-жөнү</p>
<p>&nbsp;</p>
<ol start="3">
<li>Токтом, чечим жана башка документтердин көчүрмөсүн алууга:</li>
</ol>
<p>-паспорт,</p>
<p>- өлгөндүгү жөнүндө күбөлүгү (суралган адам өлгөн болсо),</p>
<p>-күбөлөндүрүүчү (доверенность) жана анын паспорту менен,</p>
<p>Архивдик маалымкат 30 күн ичинде даярдалат. Электрондук дарек менен келген болсо электрондук дарегине жиберилет, ал эми&nbsp; WhatsApp байланыш телефондору&nbsp; менен кайрылгандар болсо ошол телефонго маалымат жиберилет жана расчеттук счет суммасы менен чогуу берилет. Бул сумма РСК банкка төлөнүлүп квитанциясын архивке алып келгенде Бирдиктүү терезече аркылуу берилет.</p>


</div>

<%- include("partials/footer") %>
