<%- include("partials/header") %>
<br>
<div class="container">
    <p><strong>Тонский филиал государственное&nbsp; учреждение &laquo;Кадастр&raquo; при Государственное агентство по земельным ресурсам при Правительстве Кыргызской Республики</strong></p>
    <p><strong>Номер (</strong><strong>Whatsapp</strong><strong>) : +996 (709) 22-72-72, +996 (700) 65-25-25</strong></p>
    <p><strong>Адрес: Иссык-Кульский область, Тонский район, село Боконбаево , улица Ленина 77.</strong></p>
    <p><strong>Электронная почта: </strong><strong><u>ton</u></strong><strong><u>.</u></strong><strong><u>kadastr</u></strong><strong><u>@</u></strong><strong><u>mail</u></strong><strong><u>.</u></strong><strong><u>ru</u></strong></p>
    <p><strong>Рабочий номер для звонков: 91-1-73 (прием), 93-2-77 (ЗУ), 93-1-77 (бухгалтер)</strong></p>
    <p><strong>Предлагаемые услуги, какие справки можно взять, что сделать и т.д.</strong></p>
    <table border="1">
    <tbody>
    <tr style="height: 35.4px;">
    <td style="height: 35.4px;" width="29">
    <p><strong>№</strong></p>
    </td>
    <td style="height: 35.4px;" width="167">
    <p><strong>Тип заявления</strong></p>
    </td>
    <td style="height: 35.4px;" width="442">
    <p><strong>Вид услуги </strong></p>
    </td>
    </tr>
    <tr style="height: 59px;">
    <td style="height: 177px;" rowspan="4" width="29">
    <p>1</p>
    </td>
    <td style="height: 177px;" rowspan="4" width="167">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Выдача информации</p>
    </td>
    <td style="height: 59px;" width="442">
    <p>Каттоо ишинен ( кат.карт)</p>
    <p>Документтердин жупнускасы/ Копии документов из рег.дела (рег.карточка)</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 35px;" width="442">
    <p>КМБМСдан укук жөнүндө көчүрмө/ Выписка о правах из ЕИНС</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 35px;" width="442">
    <p>КМБМСдан укук жөнүндө тарыхы/ История о правах из ЕИСН</p>
    </td>
    </tr>
    <tr style="height: 48px;">
    <td style="height: 48px;" width="442">
    <p>КМБМСдан&nbsp; кыймылсыз&nbsp; мүлктүн&nbsp; жоктугу / бардыгы жөнүндө маалымкаты / Справка о неимение / наличии прав на недвижимое имущество из ЕИСН</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 188px;" rowspan="5" width="29">
    <p>2</p>
    </td>
    <td style="height: 188px;" rowspan="5" width="167">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Оформление землеустроительных документов</p>
    </td>
    <td style="height: 35px;" width="442">
    <p>Мөөнөтсүз колдонууга болгон акт/Акт на бессрочное пользование</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 35px;" width="442">
    <p>Менчик укугуна болгон акт/ Акт на право собственности</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 35px;" width="442">
    <p>Жер үлүшүнө болгон күбөлүк / Свидетельсьво на зем.долю</p>
    </td>
    </tr>
    <tr style="height: 48px;">
    <td style="height: 48px;" width="442">
    <p>Убактылуу колдонууга болгон күбөлүк/Удостворение на временное пользование</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 35px;" width="442">
    <p>Чек араны орноту/ Установление границ</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 70px;" rowspan="2" width="29">
    <p>3</p>
    </td>
    <td style="height: 70px;" rowspan="2" width="167">
    <p>&nbsp;</p>
    <p>Паспортизация</p>
    </td>
    <td style="height: 35px;" width="442">
    <p>Баштапкы текшерүү / Первоначальное&nbsp; обследование</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 35px;" width="442">
    <p>Күнүмдүк текшерүү / Текущее&nbsp; обследование</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 293px;" rowspan="8" width="29">
    <p>4</p>
    </td>
    <td style="height: 293px;" rowspan="8" width="167">
    <p>Регистрация</p>
    </td>
    <td style="height: 35px;" width="442">
    <p>Ижара/Аренда</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 35px;" width="442">
    <p>Камак / Арест</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 35px;" width="442">
    <p>Менчик ээсинин алмашуусу / Переименование собственника</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 35px;" width="442">
    <p>Менчик укугу / Право собственности</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 35px;" width="442">
    <p>Чектөөлөрдү жана камактарды токтоту/ Прекращение ограничений и ареста</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 35px;" width="442">
    <p>Менчик укугун токтоту / Прекращение право собственности</p>
    </td>
    </tr>
    <tr style="height: 48px;">
    <td style="height: 48px;" width="442">
    <p>Укук тастыктоочу документтерге күбөлөндүрүү жазууларын жазуу/ Удостоверительная надпись на правоустанавливающих документов</p>
    </td>
    </tr>
    <tr style="height: 35px;">
    <td style="height: 35px;" width="442">
    <p>Күрөө / Залог</p>
    </td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>


<%- include("partials/footer") %>
