<%- include("partials/header") %>

<!-- header here -->

      <!-- jumbotron -->
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Саламатсызбы</h1>
          <p class="lead">Тоң районунун акимчилигинин расмий вебсайтына кош келдиңиз. Сайт иштелип чыгуу процессинде. 
              Андыктан, азыртадан онлайн мамлекеттик кызматтар боюнча маалымат алсаңыз болот. </p>
          <p class="lead"></p>
        </div>
      </div>


      <!-- fluid container has no margins -->
      <section class="container">
          <div class="section-title">Мамлекеттик кызматтар</div>
          <hr>
          <div class="note">
            Райондук мамлекеттик администрация, 
            райондук мекеме-уюмдар, жергиликтуу озун-озу башкаруу 
            органдары Сиздерге аралыктан кызмат корсотуунун жаны 
            ыкмаларын иштеп чыгып сунуш кылууда. Төмөнкү тизмеден 
            керектүү мекемеңизди тандап, анын кызматтары менен 
            онлайн турдө колдонуу боюнча маалымат окуңуз. 
          </div>
        <div class="row row-cols-2 row-cols-md-3">
            <div class="col mb-4">
              <div class="card">
                <img src="/imgs/icons/nalog.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Налог</h5>
                  <p class="card-text"></p>
                </div>
              </div>
              <a href="/nalog" class="stretched-link"></a>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="/imgs/icons/socfond.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Соц. фонд</h5>
                  <p class="card-text"></p>
                </div>
              </div>
              <a href="/socfond" class="stretched-link"></a>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="/imgs/icons/akimiat.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Акимиат</h5>
                  <p class="card-text">
                </div>
              </div>
              <a href="/akimiat"  class="stretched-link"></a>
            </div>
              <div class="col mb-4">
                <div class="card">
                  <img src="/imgs/icons/aokmot.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Айыл Өкмөттөр</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
                <a href="/aokmot" class="stretched-link"></a>
              </div>
            <div class="col mb-4">
              <div class="card">
                <img src="/imgs/icons/telecom.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Телеком</h5>
                  <p class="card-text"></p>
                </div>
              </div>
              <a href="/telecom" class="stretched-link"></a>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="/imgs/icons/res.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">РЭС</h5>
                  <p class="card-text"></p>
                </div>
              </div>
              <a href="/res" class="stretched-link"></a>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="/imgs/icons/socrazvitie.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Соц. Развитие</h5>
                  <p class="card-text"></p>
                </div>
              </div>
              <a href="/socrazvitie" class="stretched-link"></a>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="/imgs/icons/zags.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ЗАГС</h5>
                  <p class="card-text"></p>
                </div>
              </div>
              <a href="/zags" class="stretched-link"></a>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="/imgs/icons/archive.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Архив</h5>
                  <p class="card-text"></p>
                </div>
              </div>
              <a href="/archive" class="stretched-link"></a>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="/imgs/icons/architect.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Архитектура</h5>
                  <p class="card-text"></p>
                </div>
              </div>
              <a href="/architect" class="stretched-link"></a>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="/imgs/icons/cadaster.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Кадастр</h5>
                  <p class="card-text"></p>
                </div>
              </div>
              <a href="/cadaster" class="stretched-link"></a>
            </div>
            

            
          </div>
      </section>

<%- include("partials/footer") %>

