<%- include("partials/header") %>

<div class="container">
    <br>
    <p><strong>Кыргыз Республикасынын Өкмөтүнө караштуу Мамлекеттик салык кызматынын Тоӊ району боюнча башкармалыгы.</strong></p>
<p><strong>Урматтуу Тоӊ районунун салык төлөөчүлөрү! Учурдагы дүйнө жүзүндө жүрүп жаткан &ldquo;COVID-19&rdquo; коронавирустук инфекциясына байланыштуу район тургундарынын топтолуусуна жол бербөө жана жарандардын ортосундагы аралыкты сактоо максатында Мамлекеттик салык кызматынын Тоӊ району боюнча башкармалыгы аралыктан кызмат көрсөтүүгө өткөндүгүн билдиребиз.</strong></p>
<p>&nbsp;</p>
<p><strong>Байланыш телефондору жана электрондук почта:</strong></p>
<p>Кызматтык номерлер: 0 (3947) 91-7-79, 91-0-17.</p>
<p>Вотсап:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0 (705) 89-90-88.</p>
<p>Электронндук почта:&nbsp;&nbsp; <a href="mailto:ton1601_gni@sti.gov.kg">ton1601_gni@sti.gov.kg</a></p>
<p>&nbsp;</p>
<p><strong>Дареги:</strong></p>
<p>Бөкөнбаев айылы, Атакан көчөсү № 63. Тоӊ районунун Мамлекеттик администрациясынын 1-кабаты.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Мамлекеттик&nbsp; салык кызматынын Тоӊ району боюнча башкармалыгынан жана Камсыздандыруу төгүмдөр боюнча тиешелүү маалыматтарды алуу.</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Салыкка каттоого туруу же кайра катталуу үчүн арыз менен кайрылууӊуздар шарт.</strong></p>
<p><strong>&nbsp;</strong></p>
<p>- Арыздын негизинде каттоого туруу же кайра каттоого туруу боюнча Мамлекеттик салык кызматынын Тоӊ району боюнча башкармалыгынын чечими чыгарылат.</p>
<p>- Чечимдин негизинде каттоого алынат.</p>
<p>- Чечим чыккандан кийин күбөлүк (свидетельство) берилет.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Юридикалык жактар каттоодон Минюстан өткөндөн кийин арыз менен кайрылышат.</strong></p>
<p><strong>&nbsp;</strong></p>
<p>- Арыздын негизинде иштөө режимдери кабыл алынат.</p>
<p>- Жалпы режим же бирдиктүү салык түрүндө.</p>
<p>- Милдеттүү патенттин негизинде.</p>
<p>- Ыктыярдуу патенттин негизинде.</p>
<p>- Салыктык контракта жана башка режимдери тандалып каттоого алынат.</p>
<p>&nbsp;</p>
<p><strong>Декреттик пул алуу жана жөлөк пул алуу , кредит алууга, расчеттук счет ачуу үчүн арыз менен кайрылуу шарт.</strong></p>
<p><strong>&nbsp;</strong></p>
<p>- Арыз кайсыл жарандын аты жөнүндө жазылса Мамлекеттик салык кызматынын жалпы республикалык &laquo;ИСНАК&raquo; программасынан каралып такталып берилет.</p>
<p>- Эгерде салыкта карызы болсо такталып баардык суммасы мамлекеттик бюджетке &nbsp;банк аркылуу толугу менен төлөнгөндөн кийин берилет.</p>
<p>-Эгерде эсептешип толугу менен төлөнүп жүргөн болсо анда эч тоскоолсуздук берилет.</p>
<p><strong>Жеке ишкерлер жана жеке жактар ыктыярдуу жана милдеттүү патент менен иштөө үчүн Кыргыз республикасынын Өкмөтүнө караштуу Мамлекеттик салык кызматынын 2019-жылдын 8-апрелиндеги №86 буйругунун негизинде бекитилген базалык өлчөмдөрдүн негизинде иш алып барылат.</strong></p>
<p><strong>&nbsp;</strong></p>
<p>- Мамлекеттик салык кызматында каттоодо туруусу шарт.</p>
<p>- Эгерде патентти биринчи жолу алып жатса өздүгүн тастыктоочу паспортун жогорудагы көрсөтүлгөн вотсап номерине жиберүүӊүдөр зарыл.</p>
<p>- Кызматкер базалык өлчөмүнүн негизинде сумманы айтат, көрсөтүлгөн сумманы банка төгүп келгенден кийин ыктыярдуу же милдеттүү патент жазылып берилет.</p>
<p>- Эгерде патент менен иштеп жүргөн болсо банка тийиштүү сумманы төгүп келсе кызматкер &laquo;ИСНАК&raquo; программасы аркылуу узартып берет.</p>
<p>- Жеӊилдетилген электрондук патент менен иштөөгө да мүмкүнчүлүктөр каралган.</p>
<p>&nbsp;</p>
<p><strong>Отчет, бирдиктүү салык декларацияны берүү үчүн.</strong></p>
<p><strong>&nbsp;</strong></p>
<p>- Мамлекеттик салык кызматынан отчет жана декларация тапшыруу үчүн логин пароль алуулары зарыл.</p>
<p>- Салык төлөөчүлөр электрондук түрдө өздүк кабинети аркылуу отчетун бере алышат.</p>
<p>- Ар бир салык төлөөчү жана мамлекеттик кызматкерлер өздүк кабинети аркылуу декларацияларын мөөнөтүнө чейин тапшыра алышат.</p>
<p>&nbsp;</p>
<p><strong>Үлүш, огород жана камсыздандыруу төгүмдөрүн эсептешүү үчүн тийиштүү документтер болуусу зарыл.</strong></p>
<p>&nbsp;</p>
<p>- Үлүш жерге таандык көк китеби.</p>
<p>- Тамга же огородко тиешелүү кызыл китеби.</p>
<p>- Эгерде эсептешип жүргөн болсо тийиштүү квитанциялары жана паспорту.</p>
<p>&nbsp;</p>
<p><strong>Камсыздандыруу төгүмдөрү бонча маалыматтарды алуу үчүн арыздын негизинде жүргүзүлөт.</strong></p>
<p><strong>&nbsp;</strong></p>
<p>- Арыз кайсыл жарандын аты жөнүндө жазылса Мамлекеттик салык кызматынын жалпы республикалык программасынан каралып такталып берилет.</p>
<p>- Эгерде камсыздандыруу төгүмдөрүндө карызы болсо баардык суммасы мамлекеттик бюджетке&nbsp; банк аркылуу төлөнгөндөн кийин берилет.</p>
<p>-Эгерде эсептешип толугу менен төлөнүп жүргөн болсо анда эч тоскоолсуздук берилет.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>

<p><strong>Мамлекеттик салык кызматы менен эсептешип бүткөндөн кийин үйүӊүздө эле олтуруп, РСК Банкынын мобилдик приложениясы аркылуу төлөмдөрдү жүргүзсөӊүздөр болот. </strong></p>

<img src="/imgs/oplata-nalog-1.jpg" alt="">
<img src="/imgs/oplata-nalog-2.jpg" alt="">
<img src="/imgs/oplata-nalog-3.jpg" alt="">

<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
</div>



<%- include("partials/footer") %>
