<%- include("partials/header") %>
<br>

<div class="container">
    <table width="723">
        <tbody>
        <tr>
        <td width="723">
        <p>&bull;&nbsp; ОАО &laquo;Востокэлектро&raquo; Тонский РЭС</p>
        <p>&bull;&nbsp; Номер (вотсап)-<em>(Будет готово 27.07.2020г.через ОАО &laquo;Востокзлектро&raquo;)</em></p>
        <p>&bull; &nbsp;Адрес: Тонский район, село Боконбаево, ул. с.Кожобекова №62</p>
        <p>&bull;&nbsp; Электронная почта: <u>TonRES2015@mail.ru</u></p>
        <p>&bull; &nbsp;Рабочий номер для звонков: (03947) 91-2-64(факс) диспетчерская, 91-2-51отдел сбыт.</p>
        <p>&bull;&nbsp; Предлагаемые услуги:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Технические условия,&nbsp;&nbsp;&nbsp; Контракт на снабжение</p>
        <p>&nbsp;&nbsp; электрической энергией не бытовых потребителей и тд.</p>
        <p><strong>Оплата за потребленную электроэнергию через электронный кошелек:</strong></p>
        <p>1. Тегеm Рау(Терем Пей), Quikpay(КвикПей)- платежный система.</p>
        <p>2. Рау24 (Пей24)-ЗАО &laquo;Демир Кыргыз Интернэшнл Банк&raquo; (Demirbank)</p>
        <p>3. Грин Телеком-ОАО &ldquo;Оптима Банк&rdquo;</p>
        <p>4. UMAI (УМАЙ)-ДОС КРЕДОБАНК (DOS CREDOBANK)</p>
        <p>5. Элсом-ЗАО &laquo;Кыргызский Инвестиционно-Кредитный Банк(КICВ).</p>
        <p>6. Оңой-ОсОО &ldquo;Объединенная система моментальных платежей&rdquo; (ОСМП),&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </td>
        </tr>
        </tbody>
        </table>
        <p><strong>&nbsp;</strong></p>
        <table>
        <tbody>
        <tr>
        <td width="253">
        <p>&nbsp;</p>
        </td>
        </tr>
        </tbody>
        </table>
        <p><strong>Для получения технических условий</strong> <strong>заявитель должен предоставить следующие документы:</strong></p>
        <ol>
        <li>Заявление на имя руководителя с обязательным приложением копий следующих документов:</li>
        </ol>
        <p>&nbsp;&nbsp;&nbsp;&nbsp; <strong>Для бытовых абонентов:</strong></p>
        <ul>
        <li>паспорт,</li>
        <li>домовая книга,</li>
        <li>регистрационное дело,</li>
        <li>проект на вводимое здание (для выявления фактической необходимой мощности)</li>
        </ul>
        <p>паспорт на подключаемое оборудование (дробилка, станки и тд.)</p>
        <p>&nbsp;</p>
        <ol start="2">
        <li><strong> Для небытовых абонентов:</strong></li>
        </ol>
        <p>Реквизиты;</p>
        <ul>
        <li>паспорт,</li>
        <li>патент или лицензия,</li>
        <li>Государственный акт о праве частной собственности на земельный участок,</li>
        <li>регистрационное дело,</li>
        <li>тех. паспорт или тех.акт.</li>
        <li>договор купли-продажи или аренды.</li>
        <li>архитектурно-планировочное задание (АПЗ)</li>
        <li>Проект на вводимое здание (для выявления фактической необходимой мощности)</li>
        <li>Паспорт на подключаемое оборудование (дробилка, станки и тд.)</li>
        <li>Устав</li>
        <li>Свидетельство договора регистрации юридических лиц</li>
        <li>Доверенность</li>
        </ul>
        <p><strong>Документы необходимые для заключения контракта на снабжение электрической не бытовых потребителей:</strong></p>
        <p>1 .<u>Свидетельство</u> на право деятельности или <u>патент устав</u>, <u>положения</u>&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp; <em>(Стат или минюстици)</em></p>
        <ol start="2">
        <li>Идентификационный номер ИНН, <em>P/счет, нимен Банка, БИК ОКПО</em></li>
        <li>Адреса: <em>Почтовой индекс, Эл. Почта, Тел, Факс.</em></li>
        <li>Государственный акт о праве частной собственности на земельный участок</li>
        </ol>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(красный книга) Договор об аренде помещения</p>
        <ol start="5">
        <li>Устав или положения</li>
        <li>Копии паспорта владельца или руков.</li>
        <li>Технические условия</li>
        <li>Акт обследования от инспектора Госэкотехинспекции ГЭИ <em>(наряд)</em></li>
        <li>Протокол испытание оборудования на 3 фаза</li>
        </ol>
        <p>10.Проект на 3-х фазный ввод новый абонент</p>
    
    
</div>


<%- include("partials/footer") %>
