<%- include("partials/header") %>

<br>
<div class="container">
    <p><strong>Тоӊ райондук социалдык фонд башкармалыгы</strong></p>
<p><strong>WhatsApp</strong><strong>:</strong> 0704427557, 0705232983</p>
<p><strong>Адрес:</strong> Бөкөнбаев айылы, Ленин көчөсү, №62</p>
<p><strong>Электрондук дарек:</strong><a href="mailto:504.z.mukanbetov@sf.k%20">504.z.mukanbetov@sf.k </a></p>
<p>&nbsp;</p>
<p><strong>Маалымат алуу үчүн жумушчу телефон</strong>: 0394791733 жана 0394791722</p>
<p>&nbsp;</p>
<p><strong>Иштөө убактысы</strong>: эртен мененки саат 9:00дан кечки саат 18:00га чейин</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Көрсөтүлүүчү кызматтары: </strong></p>
<p>-Жашы боюнча, майыптыгы боюнча жана багуучусунан ажырагандыгы боюнча пенсия дайындоо:</p>
<p><u>-Каза&nbsp; болгон&nbsp; адамдын&nbsp; сөөгүн&nbsp; коюуга жөлөкпул төлөө;</u></p>
<p><u>-</u> пенсионерлерге&nbsp; пенсиясы тууралуу маалымдама берүү;</p>
<p>&nbsp;</p>
<ol>
<li><strong><u> Жашы боюнча пенсия дайындоо үчүн зарыл болгон документтер:</u></strong></li>
</ol>
<p>-КР паспорттун&nbsp; көчүрмөсү;</p>
<p>-1996-жылга чейин иштеген&nbsp; мезгили үчүн эмгек стажы жана камсыздандырылган&nbsp; адамдын каалоосу&nbsp; боюнча каалаган&nbsp; 60 айдагы&nbsp; эмгек&nbsp; акысы&nbsp; жөнүндөгү&nbsp; архивдик маалымкаттар;</p>
<p>-эмгек китепчесинин, дипломдун, аскердик билетинин, нике күбөлүгүнүн, балдардын&nbsp; туулгандыгы&nbsp; тууралуу&nbsp; күбөлүктөрүнүн көчүрмөлөрү.</p>
<p>&nbsp;</p>
<ol start="2">
<li><strong><u> Майыптыгы боюнча пенсия дайындоо учун зарыл болгон документтер:</u></strong></li>
</ol>
<p><u>&nbsp;</u></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -КР паспорттун&nbsp; көчүрмөсү;</p>
<p>-<u>МСЭКтин маалымдамасы; </u></p>
<p><u>-</u>1996-жылга чейин иштеген&nbsp; мезгили учун эмгек стажы жана камсыздандырылган&nbsp; адамдын каалоосу&nbsp; боюнча каалаган&nbsp; 60 айдагы&nbsp; эмгек&nbsp; акысы&nbsp; жонундогу&nbsp; архивдик маалымкаттар;</p>
<p>-эмгек китепчесинин, дипломдун, аскердик билетинин көчүрмөлөрү.</p>
<p>&nbsp;</p>
<ol start="3">
<li><strong><u> Баккан адамынан айрылгандыгына байланыштуу&nbsp; пенсия &nbsp;&nbsp;дайындоо&nbsp; учун зарыл болгон документтер:</u></strong></li>
</ol>
<p>-КР паспорттун&nbsp; көчүрмөсү;</p>
<p>-1996-жылга чейин иштеген&nbsp; мезгили үчүн эмгек стажы жана камсыздандырылган&nbsp; адамдын каалоосу&nbsp; боюнча каалаган&nbsp; 60 айдагы&nbsp; эмгек&nbsp; акысы&nbsp; жөнүндөгү&nbsp; архивдик маалымкаттар;</p>
<p>-эмгек китепчесинин, дипломдун, аскердик билетинин, нике күбөлүгүнүн, балдардын&nbsp; туулгандыгы&nbsp; тууралуу&nbsp; күбөлүктөрүнүн көчүрмөлөрү;</p>
<p>&nbsp;</p>
<ol start="4">
<li><strong> <u>Каза болгон адамдын&nbsp; сөөгүн&nbsp; коюуга жөлөкпул &nbsp;&nbsp;учун тапшырылуучу</u></strong></li>
</ol>
<p><strong><u>документтер:</u></strong></p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Аймагына&nbsp; карабастан&nbsp; жарандык&nbsp; абалды&nbsp; мамлекеттик&nbsp; каттоо&nbsp; актылары&nbsp;&nbsp; ( ЗАГС ) органы&nbsp; тарабынан&nbsp;&nbsp; берилген каза болгондугу&nbsp; жөнүндө&nbsp; нотариалдык&nbsp; жактан&nbsp; бекитилген&nbsp;&nbsp; көчүрмөсү;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Жарандын&nbsp; каза болгондугун&nbsp; каттоо&nbsp; тууралуу&nbsp; №8-форма;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Каза&nbsp; болгон&nbsp; адамдын&nbsp; фамилиясын, аты-жөнүн, жашаган&nbsp; жерин&nbsp;&nbsp; жана&nbsp; койгон&nbsp; адамдын&nbsp; фамилиясын, аты-жөнүн&nbsp; жана&nbsp; жашаган&nbsp; жерин&nbsp; көрсөтүү менен чындыгында&nbsp; сөөктү койгон&nbsp; фактыны&nbsp; тастыктаган&nbsp; тиешелуу&nbsp; айыл&nbsp; өкмөтүнүн&nbsp; маалымкаты;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Сөөктү&nbsp; койгон&nbsp; адамдын&nbsp; паспортунун&nbsp; көчүрмөсү</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>



</div>

<%- include("partials/footer") %>