<%- include("partials/header") %>
<br>

<div class="container">
    <p><strong>Тоң райондук эмгек жана социалдык өнүгүү башкармалыгы</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>WhatsApp</strong><strong>:</strong> 0705770788</p>
    <p>&nbsp;</p>
    <p><strong>Адрес:</strong> Бөкөнбаев айылы, Манасчы Мамбет көчөсү, №21</p>
    <p>&nbsp;</p>
    <p><strong>Электрондук дарек</strong><strong>:</strong> &nbsp;&nbsp;<strong>tonrutsr</strong><strong>2019@</strong><strong>mail</strong><strong>.</strong><strong>ru</strong></p>
    <p><strong>Маалымат алуу үчүн жумушчу телефон</strong>: 03947 91540 жана 0703999177</p>
    <p>&nbsp;</p>
    <p><strong>Иштөө убактысы</strong>: эртен мененки саат 8:30дан кечки саат 17:30га чейин</p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>Көрсөтүлүүчү кызматтары:</strong></p>
    <ol>
    <li><strong>Мамлекеттик жөлөкпулдарды, акчалай компенсацияларды, кош бойлуулук жана төрөт боюнча жөлөкпулдары, сөөк коюу жөлөкпулун дайындоо жана төлөө</strong></li>
    </ol>
    <p><strong>&nbsp;</strong></p>
    <table border="1" width="631">
    <tbody>
    <tr>
    <td width="28">
    <p>&nbsp;</p>
    </td>
    <td width="255">
    <p>Мамлекеттик жөлөкпулдун аталышы жана алуучулардын категориялары</p>
    </td>
    <td width="349">
    <p>Мамлекеттик жөлөкпулду чектөө үчүн керектүү документтердин тизмеси</p>
    </td>
    </tr>
    <tr>
    <td width="28">
    <p>1.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </td>
    <td width="255">
    <p>&ldquo;Үй-бүлөгө көмөк&rdquo; - 16 жашка чейинки балдары бар муктаж жарандарга (үй-бүлөлөргө) ар айлык жөлөкпул</p>
    </td>
    <td width="349">
    <p>1) арыз ээсинин&nbsp; паспорту;</p>
    <p>2) баланын/балдардын төрөлгөндүгү тууралуу күбөлүгү (күбөлүктөрү);</p>
    <p>3) иш жүзүндө жашаган жеринен үй-бүлөнүн курамы жөнүндө маалымкат;</p>
    <p>4) үй-бүлөнүн жалпы кирешеси жөнүндө маалыматтар</p>
    <p>5) Жеке идентификациялык номер (ОМС)</p>
    </td>
    </tr>
    <tr>
    <td width="28">
    <p>1)</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </td>
    <td width="255">
    <p>АИВ/ЖИКСке чалдыккан энелерден төрөлгөн балдар</p>
    </td>
    <td width="349">
    <p>1) арыз ээсинин паспорту;</p>
    <p>2) баланын/балдардын төрөлгөндүгү тууралуу күбөлүгү (күбөлүктөрү);</p>
    <p>3) иш жүзүндө жашаган жеринен маалымкат;</p>
    <p>4) АИВ/ЖИКСке чалдыккан энелерден баланын төрөлгөндүгүн ырастаган Республикалык ЖИКС борборунан маалымкат</p>
    <p>5) Жеке идентификациялык номер (ОМС)</p>
    </td>
    </tr>
    <tr>
    <td width="28">
    <p>2)</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </td>
    <td width="255">
    <p>ден соолугунун мүмкүнчүлүгү чектелүү балдар</p>
    </td>
    <td width="349">
    <p>1) арыз ээсинин паспорту;</p>
    <p>2) баланын/балдардын төрөлгөндүгү тууралуу күбөлүгү (күбөлүктөрү);</p>
    <p>3) иш жүзүндө жашаган жеринен маалымкат;</p>
    <p>4) майыптыкты ырастаган МСЭК&nbsp; маалымкаты</p>
    <p>5) Жеке идентификациялык номер (ОМС)</p>
    </td>
    </tr>
    <tr>
    <td width="28">
    <p>3)</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </td>
    <td width="255">
    <p>ата-энесинин экөөнөн тең айрылган балдар</p>
    </td>
    <td rowspan="2" width="349">
    <p>1) арыз ээсинин паспорту;</p>
    <p>2) баланын/балдардын төрөлгөндүгү тууралуу күбөлүгү (күбөлүктөрү);</p>
    <p>3) ата-энелеринин/ата-энесинин каза болгондугу жөнүндө күбөлүк же актылык жазуудан&nbsp; көчүрмө;</p>
    <p>4) каза болгон ата-энесинин пенсиялык&nbsp; камсыздоого укугунун жоктугу жөнүндө КР Социалдык фондунан маалымкат;</p>
    <p>5) иш жүзүндө жашаган жеринен маалымкат</p>
    <p>6) Жеке идентификациялык номер (ОМС)</p>
    </td>
    </tr>
    <tr>
    <td width="28">
    <p>4)</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </td>
    <td width="255">
    <p>ата-энесинин биринен айрылган балдар</p>
    </td>
    </tr>
    <tr>
    <td width="28">
    <p>5)</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </td>
    <td width="255">
    <p>бала кезинен I, II, III топтогу ден соолугунун мүмкүнчүлүгү чектелүү адамдар,</p>
    <p>I, II, III топтогу ден соолугунун мүмкүнчүлүгү чектелген адамдар</p>
    </td>
    <td width="349">
    <p>1) арыз ээсинин паспорту;</p>
    <p>2) майыпттыкты ырастаган МСЭК маалымкаты;</p>
    <p>3) пенсиялык камсыздоого укугунун жоктугу жөнүндө КР Социалдык фондунан маалымкат;</p>
    <p>4) иш жүзүндө жашаган жеринен маалымкат</p>
    </td>
    </tr>
    <tr>
    <td width="28">
    <p>6)</p>
    </td>
    <td width="255">
    <p>улгайган жарандар</p>
    </td>
    <td width="349">
    <p>1) арыз ээсинин паспорту;</p>
    <p>2) пенсиялык камсыздоого укугунун жоктугу жөнүндө КР Социалдык фондунан маалымкат;</p>
    <p>3) иш жүзүндө жашаган жеринен маалымкат</p>
    </td>
    </tr>
    <tr>
    <td width="28">
    <p>7)</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </td>
    <td width="255">
    <p>Баатыр энелер</p>
    </td>
    <td width="349">
    <p>1) арыз ээсинин паспорту;</p>
    <p>2) баатыр-эненин күбөлүгүнүн көчүрмөсү;</p>
    <p>3) пенсиялык камсыздоого укугунун жоктугу жөнүндө КР Социалдык фондунан маалымкат;</p>
    <p>4) иш жүзүндө жашаган жеринен маалымкат</p>
    </td>
    </tr>
    </tbody>
    </table>
    <p><strong>Акчалай компенсация&nbsp; алууга укуктуу&nbsp; адамдардын&nbsp; төмөнкүдөй документтер болууга тийиш</strong></p>
    <table border="1">
    <tbody>
    <tr>
    <td width="36">
    <p>1</p>
    </td>
    <td colspan="2" width="690">
    <p>Жашаган жеринен&nbsp; маалымат кат&nbsp; (справка ):</p>
    </td>
    </tr>
    <tr>
    <td width="36">
    <p>2</p>
    </td>
    <td colspan="2" width="690">
    <p>Паспорттун копиясы</p>
    </td>
    </tr>
    <tr>
    <td width="36">
    <p>3</p>
    </td>
    <td colspan="2" width="690">
    <p>Компенсация&nbsp; алуучунун&nbsp; статусу жөнүндө белгиленген үлгүдөгү күбөлүктүн көчүрмөсү</p>
    </td>
    </tr>
    <tr>
    <td width="36">
    <p>№</p>
    </td>
    <td width="435">
    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Керектүү документтер</strong></p>
    </td>
    <td width="255">
    <p><strong>Кайсы категорияга&nbsp; тиешелүү</strong></p>
    </td>
    </tr>
    <tr>
    <td width="36">
    <p>1</p>
    </td>
    <td width="435">
    <p>Башка мамлекеттердеги согуштук&nbsp; аракеттердин катышуучулары жана майыптары үчүн, о.э. аскердик кызматтын&nbsp; милдеттерин&nbsp; аткаруу учурунда майып болгон адамдар үчүн аскердик билеттин көчүрмөсү</p>
    </td>
    <td width="255">
    <p>Ооган согушунун майыптары, катышуучулары,&nbsp; Советтик&nbsp; армиянын майыптары</p>
    </td>
    </tr>
    <tr>
    <td width="36">
    <p>2</p>
    </td>
    <td width="435">
    <p>Оорукта эмгектенген адамдардын, медалдар менен сыйлангандыгын же майып болгондугун тастыктаган&nbsp; документтер, архивдик маалымкаттар</p>
    </td>
    <td width="255">
    <p>Оорукта эмгектенген адамдар</p>
    </td>
    </tr>
    <tr>
    <td width="36">
    <p>3</p>
    </td>
    <td width="435">
    <p>ЧАЭСке катышкан адамдар үчүн аскердик билетинде катышкан жылдар көрсөтүлгөн көчүрмөсү, республикалык ведомстволор&nbsp; аралык эксперттик кеңештин корутундусу</p>
    </td>
    <td width="255">
    <p>ЧАЭСке катышкан адамдар</p>
    </td>
    </tr>
    <tr>
    <td width="36">
    <p>4</p>
    </td>
    <td width="435">
    <p>&laquo;КР ардактуу донору&raquo; төш белгисинин&nbsp; күбөлүктүн көчүрмөсү</p>
    </td>
    <td width="255">
    <p>Ардактуу донорлор</p>
    </td>
    </tr>
    <tr>
    <td width="36">
    <p>5</p>
    </td>
    <td width="435">
    <p>Реабилитацияланган жарандар үчүн КРнын&nbsp; Башкы Прокуратурасы берген реабилитация жөнүндө маалымкаттын көчүрмөсү</p>
    </td>
    <td width="255">
    <p>Реабилитациаланган жарандар</p>
    </td>
    </tr>
    <tr>
    <td width="36">
    <p>6</p>
    </td>
    <td width="435">
    <p>ЧАЭСке&nbsp; катышкан адамдардын балдары ( 18 жашка чейин ) үчүн туулгандыгы&nbsp; тууралуу күбөлүктүн копиясы, мамрегистрдин маалымкаты</p>
    </td>
    <td width="255">
    <p>ЧАЭСтин майыптарынын, катышынын балдары</p>
    </td>
    </tr>
    </tbody>
    </table>
    <p><strong>&nbsp;</strong></p>
    <p><strong>Курман болгондордун&nbsp; жесирлерин жана үй- бүлөлөрүнүн&nbsp; төмөнкү документтер болууга тийиш</strong></p>
    <table border="1">
    <tbody>
    <tr>
    <td width="36">
    <p>1</p>
    </td>
    <td width="690">
    <p>Нике жөнүндө күбөлүктүн көчүрмөсү</p>
    </td>
    </tr>
    <tr>
    <td width="36">
    <p>2</p>
    </td>
    <td width="690">
    <p>Аскер кызматы, УАМСта же аскердик кызматтын милдеттерин аткаруу учурунда курман болгону жөнүндө&nbsp; маалымкаттын көчүрмөсү;</p>
    </td>
    </tr>
    <tr>
    <td width="36">
    <p>3</p>
    </td>
    <td width="690">
    <p>Ички иштер &nbsp;органдарынын кызматкерлери кызматтык милдеттерин аткарууда&nbsp; курман болгону жөнүндө маалымкаттын же кызмат өтөө учурунда алган жаракаттын, кесепетинен өлгөнү жөнүндө күбөлүктүн көчүрмөсү;</p>
    </td>
    </tr>
    <tr>
    <td width="36">
    <p>4</p>
    </td>
    <td width="690">
    <p>ЧАЭСтин курман болгону жөнүндө маалымкаттын же ЧАЭС тен майып&nbsp; болуп каза&nbsp; болгону&nbsp; жөнүндө күбөлүктүн&nbsp; көчурмөсу;</p>
    </td>
    </tr>
    </tbody>
    </table>
</div>




<%- include("partials/footer") %>
