<%- include("partials/header") %>
<br>
<div class="container">
    <p><strong>Тон райондук Жарандык абалдын актыларын каттоо калкты паспорттоштуруу жана каттоо б</strong><strong>ѳлүмү.</strong></p>
<p><strong>Телефон номер (вотсап): 0700448717</strong></p>
<p><strong>Электрондук почта: </strong><a href="mailto:ton@drnags.srs.kg"><strong>ton</strong><strong>@</strong><strong>drnags</strong><strong>.</strong><strong>srs</strong><strong>.</strong><strong>kg</strong></a></p>
<p><strong>Дареги: Бѳкѳнбаев айылы Атакан кѳч.№68&nbsp; Кыргыз Почтасы мамлекеттик ишканасынын имаратынын 1-кабаты.</strong></p>
<p><strong>Телефон номери 03947 93182</strong></p>
<p><strong>Жарандык абалдын актыларын каттоо (туулгандыгы тууралу, никелешүү, аты-жѳнүн ѳзгѳртүү, аталыгын аныктоо, актылык жазууга ѳзгѳртүү кийирүү балага сүйүнчү ыйгаруу жана ПИН берүү),&nbsp; жарандарга паспорт берүү, Кыргыз Республикасынын жана чет ѳлкѳлүк жарандарды каттоо.</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Мѳѳнѳтү бүткѳн паспортторду алмаштыруу үчүн керектелүүчү документтер</strong></p>
<ol>
<li>Паспорт.</li>
<li>Никеси бар болсо никелешүү күбѳлүгү.</li>
<li>Жолдошу каза болсо ѳлгѳндүгү тууралу күбѳлүгү.</li>
<li>Ажырашса никеден ажырашкандыгы тууралу күбѳлүгү.</li>
<li>16-жаштан 50-жашка чейинки аскерге милдеттүү эркек жарандар үчүн аскердик билет.</li>
<li>АИС системасында базада каттоосу жок болсо, же башка райондон келип каттоого туруп жатса, каттоого туруп жаткан үйдүн техникалык паспорту жана үйдүн ээси паспорту менен келиши зарыл.</li>
<li>Документердин баардыгынын түп нускасын (оригинал) алып келүү зарыл.</li>
</ol>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Жашы 16-га толгон окуучулар үчүн.</strong></p>
<ol>
<li>Туулгандыгы тууралу күбѳлүгү.</li>
<li>Персоналдык иденцификациялык номери (ПИН)</li>
<li>Ата-энесинин паспорттору</li>
<li>Эркек балдар үчүн аскердик комиссариаттан каттоо күбѳлүгү.</li>
<li>Каттоого туруп жаткан үйдүн техникалык паспорту жана үйдүн ээси паспорту менен келиши зарыл.</li>
<li>Документердин баардыгынын түп нускасын (оригинал) алып келүү зарыл.</li>
</ol>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Паспортун жоготуп алгандар үчүн.</strong></p>
<p><strong>&nbsp;</strong></p>
<ol>
<li>Туулгандыгы тууралу күбѳлүгү.</li>
<li>Никеси бар болсо никелешүү күбѳлүгү.</li>
<li>Жолдошу каза болсо ѳлгѳндүгү тууралу күбѳлүгү.</li>
<li>Ажырашса никеден ажырашкандыгы тууралу күбѳлүгү.</li>
<li>Арыз, түшүнүк жазат.</li>
<li>АИС системасында базада каттоосу жок болсо, же башка райондон келип каттоого туруп жатса, каттоого туруп жаткан үйдүн техникалык паспорту жана үйдүн ээси паспорту менен келиши зарыл.</li>
<li>Документердин баардыгынын түп нускасын (оригинал) алып келүү зарыл.</li>
</ol>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>16-жашка толо элек балдарга жалпы жарандык (загран) паспорт</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; алуу &nbsp;үчүн </strong></p>
<ol>
<li>Туулгандыгы тууралу күбѳлүгү.</li>
<li>Персоналдык иденцификациялык номери (ПИН)</li>
<li>Ата-энесинин паспорттору</li>
<li>Ата-энесинен нотариалдык макулдук кат.</li>
<li>Каттоого туруп жаткан үйдүн техникалык паспорту жана үйдүн ээси паспорту менен келиши зарыл.</li>
</ol>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Каттоого туруу үчүн зарыл документтер </strong></p>
<p><strong>&nbsp;</strong></p>
<ol>
<li>Каттоого туруп жаткан жарандардын паспорту.</li>
<li>Каттоого туруучу үйдүн документтери техникалык паспорту, ордери, сатып алуу келишимдери, үйдүн ээси паспорту менен келиши зарыл.</li>
<li>16-жаштан 50-жашка чейинки аскерге милдеттүү эркек жарандар үчүн аскердик билет, райондук аскердик комиссаритка&nbsp; каттоого туруш керек.</li>
<li>Документердин баардыгынын түп нускасын (оригинал) алып келүү зарыл.</li>
</ol>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;Убактылуу каттоого туруп жаткан чет ѳлкѳлүк жарандар үчүн.</strong></p>
<p><strong>&nbsp;</strong></p>
<ol>
<li>Чет ѳлкѳлүк жарандын паспорту.</li>
<li>Ѳлкѳгѳ жаны келген болсо жол жүрүү билети, мурун каттоого туруп жүргѳн болсо каттоого турган талону.</li>
<li>Каттоого туруучу үйдүн документтери техникалык паспорту, ордери, сатып алуу келишимдери, үйдүн ээси паспорту менен келиши зарыл.</li>
<li>Мамлекеттик алымды тѳлѳгѳндүгү жѳнүндѳгү квитанция.</li>
</ol>
<p>&nbsp;</p>
<p>Кыргызстандын жаранынын паспорту айди-карт&nbsp; 12 жумуш күн ичинде даяр болот, ал эми жалпы жарандык (загран) паспорттор болсо 21 жумуш күн ичинде даяр болот.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Тон райондук жарандык абалдын актыларын каттоо, калкты паспорттоштуруу жана каттоо бөлүмү тарабынан көрсөтүлүүчү кызматтарга талап кылынуучу документтер:</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Туулгандыгы туралуу кубөлүк алуу үчүн:</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp; Баланын ата-энесинин паспорту, баланын туулгандыгы тууралуу медициналык мекемеден берилген күбөлүк, нике күбөлүк. Эгерде баланын туулгандыгын каттатуу үчүн ата-энеси өздөрү келе албаса, жакын туугандары-ата-энеси, бир туугандары келсе болот . Жакын туугандыгын тастыктаган документтери менен келет ( баланын ата-энесинин туулгандыгы тууралуу күбөлүгү).</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Эгерде жалгыз бой эне катары каттала турган болсо , баланын энесинин паспорту, медициналык мекемеден берилген күбөлүк талап кылынат.Баланын энеси&nbsp; же&nbsp;&nbsp; жакын тууганы келе албаса, баланын энеси&nbsp; башка жаранга нотариустан күбөлөндүрүлгөн ишеним кат&nbsp; берсе болот. </strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Никеге туруу үчүн:</strong></p>
<p><strong>&nbsp;&nbsp; Никеге туруу үчүн жарандар туулгандыгы тууралуу күбөлүгүнүн көчүрмөсү жана паспорту менен келишет. Эгерде мурда ажырашса, ажырашкандыгы тууралуу, жубайы каза болуп калса өлгөндүгү тууралуу күбөлүгүн ала келишет. Эгерде аялы кош бойлуу болсо врачтан чыгыш номери менен, берилген күнү көрсөтүлүп жазылган кош бойлуулугу тууралуу мөөр басылган маалымдама, ортодо балдары болсо балдарынын туулгандыгы тууралуу күбөлүгүн ала келишет.</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Өлгөндүгү тууралуу күбөлүк алуу үчүн:</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp; Күбөлүк каза болгон адамдын жакындарына гана берилет. Медициналык мекемеден өлгөндүгү тууралуу берилген күбөлүк, каза болгон адамдын паспорту, кубөлүк ала турган жарандын паспорту, жакындыгын тастыктаган документ (туулгандыгы тууралуу күбөлүк, нике күбөлүк).</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Фамилиясын өзгөртүү үчүн:</strong></p>
<p><strong>&nbsp;&nbsp; Туулгандыгы тууралуу күбөлүк, персоналдык идентификациялык күбөлүк, ата-энесинин паспорт көчүрмөсү, нике күбөлүк көчүрмөсү, жашаган жеринен маалымдама (айыл өкмөттөн), окуган жеринен маалымдама, 16 жаштан жогоркуларга 1 сүрөт, мектепке чейинки балдарга врачтан (ФАПтан) маалымдама. Балдары бар жарандар балдарынын туулгандыгы тууралуу күбөлүгүн ала келишет.</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Акты жазууга ондоо, түзөтүү кийирүү үчүн:</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Эгерде жарандын документтеринде,&nbsp; фамилия аты-жөнүндө, туулган датасында айырмачылык болсо, бардык документтерин бирдей кылып ондоо талап кылынат. Туулгандыгы тууралуу күбөлүгүн, паспортун, нике күбөлүгүн, бардык балдарынын туулгандыгы тууралуу күбөлүктөрун, диплом жана башка&nbsp; болгон&nbsp; документтерин жана айыл өкмөттөн жашагандыгы тууралуу маалымдамасын алып келүүсү зарыл. </strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Аталыкты аныктоо үчүн :</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Жаңы төрөлгөн балага аталыкты аныктоо үчүн ата-энеси&nbsp; паспорттору, медициналык мекемеден баланын туулгандыгы тууралуу күбөлүк менен&nbsp; келишет. Эгерде баланын туулгандыгы тууралуу күбөлүгү болсо, баланын персоналдык идентификациялык күбөлүгүн&nbsp; чогуу ала келишет.</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ажырашуу күбөлүгүн алуу үчүн:</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ажырашуу жөнүндө соттун чечими ( мыйзамдуу күчүнө киргендиги боюнча экинчи мөөрүн бастыруу керек) жана паспорту менен келишет.</strong></p>
<p><strong>Эгерде ортодо балдары жок болсо, талаша турган мүлктөрү жок болсо, ажырашуу ЖААК бөлүмүндө жүргүзүлөт. Нике кубөлүгү жана паспорттору менен чогуу келишет.</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Персоналдык идентификациялык номер алуу үчүн:</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Баланын ата-энесинин паспортунун , нике кубөлүгүнүн жана баланын туулгандыгы тууралуу күбөлүгүнүн көчүрмөсү талап кылынат. Эгерде паспорту бар жарандын ПИНи&nbsp; туура эмес болсо, туулгандыгы тууралуу күбөлүк жана паспорту талап кылынат (көчүрмөлөрү). </strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Кайталап күбөлүк алуу үчүн:</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Жарандар паспорттору менен келишет. Паспорт ала элек балдарга алуу үчүн ата-энесинин бирөө келсе болот. 18 жаштан ашкан жарандар өздөрү гана паспорту менен келип алууга укуктуу. Өздөрү келе албаса нотариустан күбөлүктүн түрүн көрсөтүп жазылган ишеним катты&nbsp; башка&nbsp; жаранга берсе болот.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>



<%- include("partials/footer") %>
